name: Pip

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - LICENSE
      - ".gitignore"

jobs:
  build:
    name: Build with Pip
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        # platform: [windows-latest, macos-latest, ubuntu-latest]
        platform: [ubuntu-latest]
        python-version: ["3.12"]

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set min macOS version
      if: runner.os == 'macOS'
      run: |
        echo "MACOSX_DEPLOYMENT_TARGET=10.14" >> $GITHUB_ENV

    - name: Build and install
      run: |
        python -m pip install pytest numpy
        pip install --verbose .

    - name: Test
      run: python -m pytest
